<div class="footer-content">
    <p>Made by Tanisha.</p>
    <div class="footer-logos"><i class="fa-brands fa-square-github fa-lg"></i>
        <i class="fa-brands fa-linkedin fa-lg"></i>
        <i class="fa-brands fa-spotify fa-lg"></i>
        <i class="fa-solid fa-square-envelope fa-lg"></i>
    </div>

</div>