<html lang="en">

<head>
    <%- include("../partials/head.ejs")%>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <div class="container d-flex align-items-center justify-content-center" style="min-width: 300px; max-width: 50%;">
        <button> <a href="/login">Login With Spotify</a></button>
    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>